- if results.any?
  %table.table{class: 'table-striped'}
    %thead
      %tr
        %th Name
        %th Url
    %tbody
      - results.each do |result|
        %tr
          %td= link_to result.name, result
          %td= link_to result.url, result.url
